.App {
  margin: auto;
  width: 100%;
  height: 100%;
  padding-top:5%;
}

.card{
  width: 40%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fbbc28;
  padding:15px;
  margin-bottom: 30px;
}

.card .highlight{
  font-weight: bold;
}